includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    paths:
        - src/Core/Attribute
        - src/Core/Converter
        - src/Core/Internal/ParameterHandler
        - src/Core/Internal/Proxy
        - src/Core/Internal/Utils
        - src/Core/Multipart
    level: max
