includes:
    - vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    paths:
        - src/Core/Attribute
        - src/Core/Converter
        - src/Core/Internal
        - src/Core/Multipart
    level: max
